{#-- Extends view --#}
{% extends "@LuccaModel/Printing/base.html.twig" %}

{#-- Translation domain --#}
{% trans_default_domain 'LuccaModelBundle' %}

{% block lucca_title %}
    {{ 'title.print'|trans }}
{% endblock lucca_title %}

{% block lucca_model_content %}

    <div>
        {#Lorem ipsum that need 2 pages to be displayed#}
        <h1 class="text-center">Lorem ipsum dolor sit amet</h1>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum ac sollicitudin orci. Aliquam in
        mi et odio dictum suscipit at pellentesque orci. Etiam consectetur, dui eget blandit sagittis, nulla
        libero mattis velit, in auctor est purus id ipsum. Ut a sapien a ligula consequat commodo. Integer
        et orci magna. Nullam finibus scelerisque justo, nec auctor est euismod et. Praesent tincidunt neque
        varius, suscipit nisl euismod, tincidunt lorem. Donec vitae accumsan tortor. Suspendisse posuere,
        nulla rhoncus fermentum mattis, est sem maximus risus, ut interdum lacus lorem id ligula. Sed leo
        nulla, auctor nec fringilla vel, luctus vitae dui. Ut dignissim, ante posuere dignissim faucibus, ex
        dui molestie mi, sed egestas elit ligula at velit. Mauris et facilisis dui. Sed feugiat arcu lectus.
        Suspendisse varius felis at magna suscipit mattis.
        <br>
        Vestibulum ullamcorper nunc in iaculis aliquam. Suspendisse placerat, felis a facilisis semper, ex
        tortor pretium quam, in tempus ipsum odio et nibh. Suspendisse potenti. Proin lacinia diam ut
        commodo scelerisque. Integer at volutpat ante. Nulla sed accumsan ex. Suspendisse pharetra ac tellus
        ac congue. In arcu nulla, feugiat a varius vel, pellentesque quis urna. In nec cursus dolor, vitae
        pulvinar risus. Suspendisse mattis auctor dolor ut ornare. Suspendisse non malesuada magna, ut
        maximus ipsum. Duis interdum rutrum molestie. Cras auctor commodo ipsum, pulvinar venenatis augue
        dapibus sed.
        <br>
        <br>
        <br>

        Maecenas auctor blandit interdum. Maecenas a euismod diam. In bibendum vulputate porttitor. Nunc
        dignissim nisl vitae finibus faucibus. Proin at tristique purus. Suspendisse in ultricies quam.
        Vivamus scelerisque imperdiet mauris a consectetur. Suspendisse sed vestibulum neque. Curabitur in
        dui nec eros bibendum iaculis ac et nisi. Pellentesque faucibus, elit id lobortis tincidunt, libero
        orci luctus nibh, sit amet blandit metus leo et leo. Etiam eleifend maximus metus, a viverra lacus
        convallis a. Nulla nisi tellus, vulputate id lorem vel, vehicula gravida lacus. Phasellus pulvinar
        facilisis elit, sit amet venenatis ligula. Duis sed porttitor ligula.

        <br>
        Maecenas auctor blandit interdum. Maecenas a euismod diam. In bibendum vulputate porttitor. Nunc
        dignissim nisl vitae finibus faucibus. Proin at tristique purus. Suspendisse in ultricies quam.
        Vivamus scelerisque imperdiet mauris a consectetur. Suspendisse sed vestibulum neque. Curabitur in
        dui nec eros bibendum iaculis ac et nisi. Pellentesque faucibus, elit id lobortis tincidunt, libero
        orci luctus nibh, sit amet blandit metus leo et leo. Etiam eleifend maximus metus, a viverra lacus
        convallis a. Nulla nisi tellus, vulputate id lorem vel, vehicula gravida lacus. Phasellus pulvinar
        facilisis elit, sit amet venenatis ligula. Duis sed porttitor ligula.

        <br>
        <br>
        Pellentesque et sem eros. Interdum et malesuada fames ac ante ipsum primis in faucibus. Aliquam
        cursus finibus justo vitae aliquet. Mauris tempor sapien et mauris luctus ultricies. Duis pretium at
        massa vitae placerat. Ut mollis volutpat tempor. Proin laoreet orci mi. Vivamus vitae purus sed
        ipsum scelerisque ultricies molestie eget diam. Nunc aliquam placerat pellentesque. Phasellus mollis
        lacus ut orci tristique dictum. Aliquam erat volutpat. Nulla laoreet lorem nulla, ac suscipit urna
        pretium sed.

        <br>
        Sed auctor ipsum eget purus fringilla consequat. Praesent non consectetur nulla, quis luctus mauris.
        Etiam sed blandit enim. Vestibulum vitae turpis tellus. Duis porta, dolor vel consectetur rutrum,
        libero risus eleifend dui, id gravida turpis lorem bibendum nibh. Etiam sed neque nunc. Aliquam in
        bibendum diam, in varius enim. Curabitur facilisis elit id nisi bibendum vehicula. Nunc elit urna,
        scelerisque auctor rhoncus vel, rutrum ut nisi. Fusce feugiat ut lacus ut fermentum. Sed et est
        magna. Sed vulputate urna a tellus euismod efficitur. In vitae consequat ex. Sed quis augue rutrum,
        molestie erat ac, condimentum quam. Cras tempus purus nec leo interdum dapibus.

        <br>
        <br>
        Pellentesque et sem eros. Interdum et malesuada fames ac ante ipsum primis in faucibus. Aliquam
        cursus finibus justo vitae aliquet. Mauris tempor sapien et mauris luctus ultricies. Duis pretium at
        massa vitae placerat. Ut mollis volutpat tempor. Proin laoreet orci mi. Vivamus vitae purus sed
        ipsum scelerisque ultricies molestie eget diam. Nunc aliquam placerat pellentesque. Phasellus mollis
        lacus ut orci tristique dictum. Aliquam erat volutpat. Nulla laoreet lorem nulla, ac suscipit urna
        pretium sed.

        <br>
        Sed auctor ipsum eget purus fringilla consequat. Praesent non consectetur nulla, quis luctus mauris.
        Etiam sed blandit enim. Vestibulum vitae turpis tellus. Duis porta, dolor vel consectetur rutrum,
        libero risus eleifend dui, id gravida turpis lorem bibendum nibh. Etiam sed neque nunc. Aliquam in
        bibendum diam, in varius enim. Curabitur facilisis elit id nisi bibendum vehicula. Nunc elit urna,
        scelerisque auctor rhoncus vel, rutrum ut nisi. Fusce feugiat ut lacus ut fermentum. Sed et est
        magna. Sed vulputate urna a tellus euismod efficitur. In vitae consequat ex. Sed quis augue rutrum,
        molestie erat ac, condimentum quam. Cras tempus purus nec leo interdum dapibus.

        <br>
        <br>
        Pellentesque et sem eros. Interdum et malesuada fames ac ante ipsum primis in faucibus. Aliquam
        cursus finibus justo vitae aliquet. Mauris tempor sapien et mauris luctus ultricies. Duis pretium at
        massa vitae placerat. Ut mollis volutpat tempor. Proin laoreet orci mi. Vivamus vitae purus sed
        ipsum scelerisque ultricies molestie eget diam. Nunc aliquam placerat pellentesque. Phasellus mollis
        lacus ut orci tristique dictum. Aliquam erat volutpat. Nulla laoreet lorem nulla, ac suscipit urna
        pretium sed.

        <br>
        Sed auctor ipsum eget purus fringilla consequat. Praesent non consectetur nulla, quis luctus mauris.
        Etiam sed blandit enim. Vestibulum vitae turpis tellus. Duis porta, dolor vel consectetur rutrum,
        libero risus eleifend dui, id gravida turpis lorem bibendum nibh. Etiam sed neque nunc. Aliquam in
        bibendum diam, in varius enim. Curabitur facilisis elit id nisi bibendum vehicula. Nunc elit urna,
        scelerisque auctor rhoncus vel, rutrum ut nisi. Fusce feugiat ut lacus ut fermentum. Sed et est
        magna. Sed vulputate urna a tellus euismod efficitur. In vitae consequat ex. Sed quis augue rutrum,
        molestie erat ac, condimentum quam. Cras tempus purus nec leo interdum dapibus.
    </div>
{% endblock lucca_model_content %}

{#{% block lucca_css %}#}
{#{{ parent() }}#}
{#{% set unit = model.recto.marginUnit | trans %}#}
{#<style>#}
{#/*TODO move it in css file*/#}
{#.document {#}
{#padding-left: 30px;#}
{#padding-right: 20px;#}
{#}#}

{#body {#}
{#margin: 0 !important;#}
{#}#}

{#table td, table td * {#}
{#vertical-align: top;#}
{#}#}

{#thead {#}
{#display: table-header-group;#}
{#}#}

{#tr {#}
{#page-break-inside: avoid;#}
{#}#}

{#</style>#}
{#{% endblock %}#}
