{#-- Extends view --#}
{% extends "@LuccaThemeStreamDashboardUiKit/SubLayout/new.html.twig" %}

{#-- Translation domain --#}
{% trans_default_domain 'LuccaMediaBundle' %}

{#-- Parameters --#}
{% set param_entity='entity.gallery'|transchoice(1) %}
{% set param_entities='entity.gallery'|transchoice(2) %}
{% block menuActive_parameter %}class="active"{% endblock %}


{% block lucca_panels %}

    <div class="row">
        {#-- Embed view - params and block --#}
        {% embed "@LuccaMedia/Gallery/Embed/_form-gallery.html.twig" with { 'form': form } %}
            {#-- Translation domain embed --#}
            {% trans_default_domain 'LuccaMediaBundle' %}

            {% block lucca_embed_buttons_gallery %}
                <a href="{{ path('lucca_media_gallery_index') }}" class="btn btn-secondary btn-lg"
                   title="{{ 'link.gallery.backList'|trans }}">
                    <i class="fas fa-reply"></i></a>

                <button type="submit" class="btn btn-success btn-lg"
                        title="{{ 'link.gallery.new'|trans }}"><i class="fas fa-check"></i></button>
            {% endblock %}
        {% endembed %} {#-- End Embed --#}
    </div>

{% endblock lucca_panels %}
