{% extends "@LuccaThemeStreamDashboardUiKit/Layout/layout.html.twig" %}
{% trans_default_domain 'ThemeStreamDashboardUiKit' %}

{% set param_topbar='gray-bg' %}

{% block lucca_title %}
    <title>{{ 'setting.general.app.name'| setting }} | </title>
{% endblock lucca_title %}


{% block lucca_page %}

    {% include '@LuccaThemeStreamDashboardUiKit/Flash/flashes.html.twig' %}

    {% block lucca_block %}

    {% endblock lucca_block %}
{% endblock lucca_page %}


{% block lucca_modal %}
    {{ parent() }}
{% endblock lucca_modal %}

{% block lucca_css %}
    {{ parent() }}
{% endblock lucca_css %}

{% block lucca_js %}
    {{ parent() }}
{% endblock lucca_js %}
