/************************************************************
 * Font
 ************************************************************/
@font-face {
    font-family: 'Marianne Medium';
    src: url('../fonts/marianne/Marianne-Medium.eot');
    src: url('../fonts/marianne/Marianne-Medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/marianne/Marianne-Medium.woff2') format('woff2'),
    url('../fonts/marianne/Marianne-Medium.woff') format('woff'),
    url('../fonts/marianne/Marianne-Medium.ttf') format('truetype'),
    url('../fonts/marianne/Marianne-Medium.svg#Marianne-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Marianne Light';
    src: url('../fonts/marianne/Marianne-Light.eot');
    src: url('../fonts/marianne/Marianne-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/marianne/Marianne-Light.woff2') format('woff2'),
    url('../fonts/marianne/Marianne-Light.woff') format('woff'),
    url('../fonts/marianne/Marianne-Light.ttf') format('truetype'),
    url('../fonts/marianne/Marianne-Light.svg#Marianne-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Marianne Regular';
    src: url('../fonts/marianne/Marianne-Regular.eot');
    src: url('../fonts/marianne/Marianne-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/marianne/Marianne-Regular.woff2') format('woff2'),
    url('../fonts/marianne/Marianne-Regular.woff') format('woff'),
    url('../fonts/marianne/Marianne-Regular.ttf') format('truetype'),
    url('../fonts/marianne/Marianne-Regular.svg#Marianne-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Marianne Thin';
    src: url('../fonts/marianne/Marianne-Thin.eot');
    src: url('../fonts/marianne/Marianne-Thin.eot?#iefix') format('embedded-opentype'),
    url('../fonts/marianne/Marianne-Thin.woff2') format('woff2'),
    url('../fonts/marianne/Marianne-Thin.woff') format('woff'),
    url('../fonts/marianne/Marianne-Thin.ttf') format('truetype'),
    url('../fonts/marianne/Marianne-Thin.svg#Marianne-Thin') format('svg');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Marianne ExtraBold';
    src: url('../fonts/marianne/Marianne-ExtraBold.eot');
    src: url('../fonts/marianne/Marianne-ExtraBold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/marianne/Marianne-ExtraBold.woff2') format('woff2'),
    url('../fonts/marianne/Marianne-ExtraBold.woff') format('woff'),
    url('../fonts/marianne/Marianne-ExtraBold.ttf') format('truetype'),
    url('../fonts/marianne/Marianne-ExtraBold.svg#Marianne-ExtraBold') format('svg');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Marianne Bold';
    src: url('../fonts/marianne/Marianne-Bold.eot');
    src: url('../fonts/marianne/Marianne-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/marianne/Marianne-Bold.woff2') format('woff2'),
    url('../fonts/marianne/Marianne-Bold.woff') format('woff'),
    url('../fonts/marianne/Marianne-Bold.ttf') format('truetype'),
    url('../fonts/marianne/Marianne-Bold.svg#Marianne-Bold') format('svg'),
    url('../fonts/marianne/MARIANNE-BOLD.OTF') format('opentype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}


/************************************************************
 * Generic class
 ************************************************************/

/********************
 * Height
 ********************/
.mh50 {
    max-height: 50px;
}

.mh100 {
    max-height: 100px;
}

.mh200 {
    max-height: 200px;
}

.h35 {
    height: 35px;
}

.mt80 {
    margin-top: 80px;
}

.mt50 {
    margin-top: 50px;
}

.mt15 {
    margin-top: 15px;
}

.mb100 {
    margin-bottom: 100px;
}

.mb50 {
    margin-bottom: 50px;
}

.mb25 {
    margin-bottom: 25px;
}

.mr-1 {
    margin-right: 15px;
}

.pt150 {
    padding-top: 150px;
}

.pt80 {
    padding-top: 80px;
}

.pt50 {
    padding-top: 50px;
}

.pt15 {
    padding-top: 15px;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
}


/************************************************************
 * Custom class
 ************************************************************/
/********************
 * Global
 ********************/
pre {
    white-space: pre-wrap;
}

.hr-big {
    border-top-width: 15px;
}

.labels-hidden label {
    display: none;
}

textarea {
    max-width: 100%;
    max-height: 100%;
}

.control-label.required:after {
    content: '*';
    color: #f4ac5d;
    font-size: 1.1em;
}

.bool-inline .radio,
.bool-inline .checkbox {
    display: inline-block;
    margin-right: 30px;
}

.hr-table {
    margin-top: 3px;
    margin-bottom: 3px;
}

.bordered {
    border: 2px solid #e1e1e1;
}

.purchase {
    border-bottom-width: 2px;
    background: rgba(255, 255, 255, 0.65);
}

.wrapper {
    background: url("../img/wallpaper-wall.jpg") repeat-y top center;
    background-size: 100%;
}

.alert-light{
    background-color: white;
    text-align: center;
    justify-content: center;
}

.alert-warning, .alert-danger, .alert-dark, .alert-success{
    justify-content: center;
}

.u-main {
    min-height: unset;
}

.btn-secondary, .btn-primary, .badge-warning{
    color: white !important;
}

/********************
 * Form
 ********************/
.bool-inline .form-check {
    display: inline-block;
    margin-right: 40px;
    margin-bottom: 10px;
}
.bool-inline fieldset {
    margin-bottom: 0;
    padding-bottom: 0;
}

.bool-inline .radio,
.bool-inline .checkbox {
    display: inline-block;
    margin-right: 30px;
}

/********************
 * Link
 ********************/
.link-file:hover {
    -webkit-transition: 1s; /* Safari */
    transition: 1s;
}

/********************
 * Media
 ********************/
.logo-header {
    max-height: 120px;
    max-width: 200px;
}

a .logo-header:hover {
    background: #eee;
    padding: 5px;
}

.media-show {
    max-width: 100%;
    max-height: 300px;
    margin: 10px;
}

.media-thumbnail {
    max-width: 200px;
    max-height: 200px;
    margin: 10px auto;
    background: lightgrey;
}

/********************
 * List
 ********************/
.page-list li {
    line-height: 2;
    width: 100%;
    font-size: 1.2em;
}

.page-list li a,
.page-list li span {
    display: block;
    margin-bottom: 15px;
    padding-left: 10px;
}

.page-list li a:hover,
.page-list li span:hover {
    padding-left: 20px;
    text-decoration: none;
    font-weight: bold
}

/********************
 * Footer
 ********************/
.footer-light {
    background-color: #d0d0d0;
}

.footer-v1 .footer-logo {
    min-height: 250px;
    height: 200px;
    width: 100%;
    background: url("../logo/lucca-monochrome.png") no-repeat right top;
    background-size: 20em;
    background-origin: content-box;

    display: inline;
    position: absolute;
    opacity: 0.5;
}

.footer-v1 .footer {
    padding: 20px 0;
}

.footer-v1 .copyright {
    padding: auto;
}

/********************
 * Column
 ********************/
.column-title {
    min-height: 70px;
    display: flex;
    margin-bottom: 30px;
}

.column-title h2 {
    margin: auto 0;
    font-size: 1.5rem;
    font-weight: bold;
}

.column {
    border-left: 3px solid;
}

/********************
 * Color
 ********************/
.btn-u {
    background-color: #2B7D7C;
}

.column-title h2,
.page-list li a:hover,
.page-list li span:hover,
.footer-v1 .link-list a:hover,
.footer-v1 .link-list a:active,
a,
a:hover,
.container h2,
.link-file {
    color: #2B7D7C;
}

.column:hover,
.headline h2,
.headline h3,
.headline h4 {
    border-color: #2B7D7C;
}

.purchase {
    border-color: #F6BF49;
}

::selection,
.btn-u:hover {
    background-color: #F6BF49;
}

.link-file:hover {
    color: #F6BF49;
}

.btn-white{
    background-color: #fff;
    border-color: #eaeaea;
    padding: 1em;
}

/********************
 * Title
 ********************/
.main-title {
    line-height: 35px;
    font-size: 2.5em;
}
.main-title > span {
    color: #777;
    font-size: 2rem;
}

/********************
 * Admin
 ********************/
.div-admin {
    display: inline-block;
    border: 1px dashed #d99a35;
    border-radius: 4px;
    padding: 5px 10px;
    margin: 5px;
    font-weight: bold;
    float: right;
}

.label-admin {
    position: relative;
    float: right;
    top: -15px;
    right: -10px;
    display: inline;
    margin-bottom: 5px;
    background-color: #fff;
    color: #f0ad4e;
    font-weight: bold;
    border-radius: 10px;
    padding: 2px 6px;
    font-size: 0.85rem;
}


/********************
 * Error
 ********************/
.error-height {
    min-height: 15em;
}

/********************
 * Model page copy shortcut
 ********************/
.copy-text {
    cursor: pointer;
}

/* The actual popup */
.popup .popuptext {
    display: none;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 35%;
    left: 50%;
    margin-left: -80px;
}
