{#-- Modal window --#}
<div class="modal fade showWin" id="modalForm" tabindex="-1" role="dialog" aria-labelledby="modal-media"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        {#-- Modal content --#}
        <div class="modal-content">

        </div>
    </div>
</div>
{#-- End - Modal window --#}