{% extends '@LuccaMinute/Control/Printing/Basic/convocation_content.html.twig' %}
{% trans_default_domain 'LuccaControlBundle' %}

{% import "LuccaMinuteBundle:Human:human-macro.html.twig" as humanMacro %}


{% block lucca_control_convocation_header %}
      <div class="row">
        <div class="col-12 letter-object">
            <p><b>Objet : Droit de visite</b></p>
            <p><b>LRAR</b></p>
        </div>
    </div>
{% endblock %}